nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0px 45px;
    .navlogo {
        font-size: x-large;
        font-weight: bold;
        color: rgb(5, 5, 53);
    }
    .navlinks {
        display: flex;
        gap: 20px;

        a {
            color: rgb(5, 5, 53);
            font-weight: lighter;
        }
    }
    .navicons {
        display: flex;
        align-items: center;
        gap: 10px;
        .nBar{
            display: none;
        }
    }
}
@media(max-width: 799px)  {
    nav{
        margin: 0px 15px;
        .navlinks {
            display: none;
        }
        .navicons {
            .nBar{
                display:block;
                background-color: black;
                border-radius: 3px;
            }
        }
    }
}